@charset "UTF-8";
/* CSS Document */

html,
html *
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1
{
	position: relative;
	text-align: center;
	font-family: Gotham;
	font-size: 3em; 
	letter-spacing: .1em;
	padding-top: 5em;
}

p
{
	position: relative;
	text-align: center;
	font-family: Gotham;
	font-size: 1.2em;
	letter-spacing: .05em;
}