@charset "UTF-8"

html,
html *{
    margin: 0;
    padding: 0;
    height: 100%;
}

/******************************/
/********** Header ************/
/******************************/

body{
	background-color: #fffff0;
	height: 100%;
}

header
{
	width: 100%;
	height: auto;
	top: 0px;
	padding: .5em;
	position: relative;
	z-index: 1000;
}

.nav-div{
	margin-right: 1em;
}

header a{
	font-family: Helvetica;
	float: right;
	display: inline-block;
	color: black;
	font-size: 20px;
	padding: 14px 16px;
	text-decoration: none;
}

header a:hover{
	background-color: #ccc;
}

/*-----------------------------------------*/
/*------------------- Main ----------------*/
/*-----------------------------------------*/
/*body{
	height: 100%;
}*/
/*
main{
	min-height: 100%;
	margin-bottom: -10vw;
}*/

h1{
	text-align: center;
	margin-top: 3em;
	font-family: Helvetica;
}

.input-container{
	margin: 0 auto;
	margin-top: 2.5em;
	width: 40%;
	position: relative;
	overflow: hidden;
	padding: 1em;
	border-radius: 1em;
	margin-bottom: 5em;
}

label{
	display: inline-block;
	width: 25%;
	text-align: right;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#weatherInput{
	font: 1em Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	width: 60%;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 4px;
}

#questionInput{
	font: 1em Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	width: 60%;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 4px;	
}

#weatherInput:focus, #questionInput:focus{
	border-color: #000;
}

h2{
	text-align: center;
	margin-top: .75em;
	font-family: Helvetica;
	margin-bottom: 2.5em;
}

p{
	text-align: center;
	font-family: Helvetica;
}

img{
	width: 7.5vw;
	display: block;
	margin: 0 auto;
}

#weatherResults p{
	text-transform: capitalize;
}

#weatherResults ol{
	list-style: none;
}

#weatherResults li{
	text-align: center;
	font-family: Helvetica;
	margin-left: -2em;
}

.stack-items-div{
	text-align: left;
	font-size: 1.5em;
	margin: .5em auto;
	width: 70%;
	border-bottom: 1px solid grey;
	padding-bottom: .25em;
	font-family: Helvetica;
}

#stackResults a{
	text-decoration: none;
	text-align: center;	
}

/*-----------------------------------------*/
/*---------------- Footer -----------------*/
/*-----------------------------------------*/

footer{
	height: 10vw;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-top: 4vw;
}

footer img{
	width: 6vw;
	display: block;
	margin:0 auto;
}