@charset "UTF-8"
/* css for inventory menu */

html,
html *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #fffff0;
}

/*-----------------------------------*/
/*------------- Main ----------------*/
/*-----------------------------------*/

.main-title h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, "sans-serrif";
	font-size: 3em;
	color: #002255;
	text-shadow: 2px 2px 8px rgba(197, 125, 175, .5);
	letter-spacing: .1em;
	text-align: center;
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
}

.selection-container{
	width: 75%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2.5vw;
}

.selection-container img{
	display: inline-block;
	margin: 0 auto;
	width: 30vw;
	margin: 0 2.5vw;
}