@charset "UTF-8"
/* CSS for Inventory */

html,
html *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #fffff0;
}

/*--------------------------------*/
/*----------- Main ---------------*/
/*--------------------------------*/

.main-title h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, "sans-serrif";
	font-size: 3em;
	color: #002255;
	text-shadow: 2px 2px 8px rgba(197, 125, 175, .5);
	letter-spacing: .1em;
	text-align: center;
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
}

.item-container{
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2.5vw;
}

.flex{
	display: flex;
	flex-direction: row;
}

.item-img{
	width: 50%;
	display: block;
	margin: 0 auto;
}

.item-img img{
	width: 35vw;
}

.item-description{
	width: 50%;
	display: flex;
	align-items: center;
}

.item-description li{
	list-style-type: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serrif";
	font-size: 1.5em;
	line-height: 1.5em;
}